<ul style="margin-left:2cm;" class="nav nav-tabs">
  <li>
    <a <%= link_to 'Members',users_path %></a>
  </li>
  <li>
    <a style= "margin-left:1cm;"  <%= link_to 'Pending Invitation',users_invitation_pending_path %></a>
  </li>
</ul>
