<% if user_signed_in? %>
  <div class="w3-sidebar w3-bar-block w3-white w3-navbar" style="width:5%">
    <a class="w3-bar-item w3-button"><i class="fa fa-home fa-2x"></i></a>
    <a class="w3-bar-item w3-button"><i class="fa fa-users fa-2x"></i></a>
  </div>
<% end %>

