<% if user_signed_in? %>
  <div class="w3-sidebar w3-bar-block ">
    <ul>
      <li>
        <button class="btn btn-light btn-block">
          <%=link_to sanitize('<i class="fas fa-2x fa-home"></i>'), root_path %>
        </button>
      </li>
      <li>
        <button class="btn btn-light btn-block">
          <%=link_to sanitize('<i class="fas fa-2x fa-users"></i>'), users_path %>
        </button>
      </li>
    </ul>
  </div>
<% end %>

