/*body */
body{
  background-color: rgb(219, 239, 240);
}


/*form*/
.form{
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

form h2{
  text-align: center;
  margin-top: 0;
}

form input[type=text], select {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form select {
  background-color: white;
}

form input[type=number], select {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type=email], select {
  width: 100%;
  padding:  8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type=password], select {
  width: 100%;
  padding:  8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type=submit] {
  width: 100%;
  background-color: #0099ff;
  color: white;
  padding:  8px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div.align-right{
  text-align: right;
  padding: 0px;
  padding-top: 0cm;
}
div.forgot-password{
  text-align: right;
  padding: 0px;
  padding-top: 0cm;
  font-size: small;
}


/* navbar circular right most button */
.btn-circle.btn-md { 
  width: 40px; 
  height: 40px; 
  padding: 7px 10px; 
  border-radius: 25px; 
  text-align: center; 
  font-size: 15px;
} 

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.navbar{
  margin-left: 5%;
}

/* sidebar */
.w3-sidebar{
  list-style: none;
  background: white;
  width: 6%;
}

.w3-sidebar ul{
  margin-top: 2cm;
  padding: 0;
}

.w3-sidebar ul li{
  padding: 10px;
}


/* tables */
.user table {
  margin-left: 7%;
  border-collapse: collapse;
  width: 95%; 
}

.user th, td {
  margin-left: 2cm;
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.user .col-md-12 h4{
  display: inline-block;
  margin-left: 2cm;
  text-align: left;
}

div.notice {
  color: seagreen;
}

div.error{
  color: red;
}

.pagination{
  padding-top: 10px;
  justify-content: center;
}

.alert{
  margin-top: 4cm;
  margin-left: 15cm;
  margin-right: 13cm;
}

/* modal */
.modal-footer{
  padding: 2px 16px;
}

.modal-body form input[type=submit]{
  width: 17%;
  background-color: #0099ff;
  color: white;
  padding:  8px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 9.5mm;
}

/* profile */
.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.image{
  background-color: none;
}